<div class="container vertical-center">
  <div class="row">
    <div class="col">
    </div>
    <div class="col">
    </div>
  </div>
  <%= form_tag "/listings", method: :get do %>
  <div class="row">
    <div class="col">
    </div>
      <div class="col">
        <input class="form-control my-auto" type="text" placeholder="Search" aria-label="Search" name="search_tag">
      </div>
    <div class="col">
      <input class="btn btn-success navbartext" type="submit" value="Vers la liste" />
    </div>
  </div>
  <% end %>
</div>