<% if @current_user %>
  <% if @current_user.role == "admin" %>
    <h1>Bienvenue administrateur <%= @current_user.first_name %> !</h1>
  <% else %>
    <h1>Bienvenue <%= @current_user.first_name %> !</h1>
  <% end %>
  <%= form_tag "/users/login", method: :delete do %>
    <input type="submit" value="Déconnexion" />
  <% end %>
<% else %>
  <h1>Bienvenue visiteur anonyme !</h1>
  <a href="/users/login">S'identifier</a>
<% end %>