<% if @current_user %>
  <% if @current_user.role == "admin" %>
    <h1>Bienvenue administrateur <%= @current_user.first_name %> !</h1>
  <% else %>
    <h1>Bienvenue <%= @current_user.first_name %> !</h1>
  <% end %>
<% else %>
  <h1>Bienvenue visiteur anonyme !</h1>
<% end %>
<br/><br/>
<a href="/listings">Vers la liste</a>