<h1>Connexion</h1>
<a href="/users/home">Retourner à l'accueil</a>
<%= form_tag "/users/login", method: :post do %>
  <input type="email" name="email" />
  <input type="password" name="password" />
  <input type="submit" value="Se connecter" />
<% end %>