<div class="container ml-auto">
  <a class="btn btn-info" href="/account/contacts">Mes contacts</a>
  <a class="btn btn-info" href="/account/messages">Mes messages</a>&nbsp;
  <a class="btn btn-info" href="/account/user">Mon profil</a>
</div>

<table style="width:75%" align="center">
  <tr>
    <th>Image</th>
    <th>Prix</th>
    <th>Date</th>
    <th>Message</th>
  </tr>
  <% @msg.each do |m| %>
    <tr>
      <td>
        <% if m.listing.attached_picture.attached? %>
          <img src="<%= url_for(m.listing.attached_picture) %>" alt="image" size="70" height="70" align="center">
        <% end %>
      </td>
      <td><%= m.listing.price %></td>
      <td><%= m.created_at %></td>
      <td><%= m.content %></td>
    </tr>
  <% end %>
</table>